body{
background: url('../images/bg.jpg');
padding: 0;
margin: 0;


padding: 10%;
padding-top: 5%;


}
.personal_box{

width:400px;
background: white;
height: 930px;
float: left;
border-radius: 20px;
position: relative;
padding-left: 10px;
padding-right: 10px;



}
.name_title,.designation_title
{
text-align: center;
color: grey;

}
.designation_title{
color: #DD2476;
}

.personal_pic{

height: 150px;width: 150px;
background: url('../images/Passportphoto.JPG');
background-size: 100%;
background-repeat: no-repeat;
border-radius: 20px;
margin-top: -90px;
margin-left:32%
}

.contact_details{

height: 400px;
background: #F3F6F6;
position: absolute;
bottom: 240px;
left: 20px;
right: 20px;
border-radius: 20px;


}

.cv_button
{

	position: absolute;
	left: 26%;

	bottom: 16%;
    align-content: center;
    align-items: center;
    border-radius: 35px;
    background-image: linear-gradient(to right, var(--tw-gradient-stops));
    -tw-gradient-from: #FA5252;
    --tw-gradient-to: rgb(250 82 82 / 0);
    --tw-gradient-from: #DD2476;
    --tw-gradient-to: rgb(221 36 118 / 0);
    --tw-gradient-stops: var(--tw-gradient-from), var(--tw-gradient-to);
    --tw-gradient-to: #DD2476;
    --tw-gradient-to: #fa5252ef;   
    padding-left: 2rem;
    padding-right: 2rem;
    padding-top: 0.75rem;
    padding-bottom: 0.75rem;
    font-size: 1.125rem;   
    color: white;
    border :1px solid white;
	
	}
.detail_row {

padding: 15px;

padding-bottom: 15px;
padding-top: 10px;



margin-bottom: 1px;
border-bottom: #E3E3E3 solid 0.5px;




}

.detail_row img{
height: 26px;
width: 26px;
padding: 3px;
border: solid 2px white;
border-radius: 50%;
background-color: white;


    --my_shadow: 0 4px 6px -1px rgb(0 0 0 / 0.1), 0 2px 4px -2px rgb(0 0 0 / 0.1);

    box-shadow: var(--my_shadow);



}
.detail_row_text{

margin-top: -30px;
margin-left: 60px;
}
.right_box .content{

display: grid;
grid-template-columns: auto auto;
grid-gap: 30px;
padding: 30px;



}
.content div{
height: 160px;
padding: 10px;
border-radius: 20px;

}
.right_box{
position: relative;}

.bg_purple
{

background: #fcf4ff;
--my_shadow: 0 4px 6px -1px rgb(0 0 0 / 0.1), 0 2px 4px -2px rgb(0 0 0 / 0.1);

    box-shadow: var(--my_shadow);


}
.bg_yellow{

background: #fefaf0;
--my_shadow: 0 4px 6px -1px rgb(0 0 0 / 0.1), 0 2px 4px -2px rgb(0 0 0 / 0.1);

    box-shadow: var(--my_shadow);

}
.horizon_line{
height: 10px;border-bottom: 2px solid #DD2476 ;
width: 120px;
position: absolute;
left: 190px;
top: 30px;
}

.bg_light_blue{

background:#f3faff;
--my_shadow: 0 4px 6px -1px rgb(0 0 0 / 0.1), 0 2px 4px -2px rgb(0 0 0 / 0.1);

    box-shadow: var(--my_shadow);




}

.bg_light_orange{

background:#fff4f4;
 --my_shadow: 0 4px 6px -1px rgb(0 0 0 / 0.1), 0 2px 4px -2px rgb(0 0 0 / 0.1);

    box-shadow: var(--my_shadow);


}
p{
font-size: 19px;
color: grey;
padding-left: 36px;
padding-right: 36px;

}
h3 img{
height: 40px;
width: 40px;
margin-right: 10px;
margin-bottom: -13px;

    }
    .common_text span{
color: #DD2476;
font-weight: bolder;
padding-top: 10px;


    }
